apiVersion: "descheduler/v1alpha2"
kind: "DeschedulerPolicy"

maxNoOfPodsToEvictPerNode: 10
maxNoOfPodsToEvictPerNamespace: 20

profiles:
  - name: "deschedbench"
    pluginConfig:
      - name: "DefaultEvictor"
        args:
          labelSelector:
            matchLabels:
              deschedbench: "true"
          evictLocalStoragePods: false
          evictSystemCriticalPods: false
          ignorePvcPods: true
          nodeFit: true
      - name: "LowNodeUtilization"
        args:
          thresholds:
            cpu: 20
            memory: 20
            pods: 20
          targetThresholds:
            cpu: 40
            memory: 40
            pods: 40
    plugins:
      balance:
        enabled:
          - "LowNodeUtilization"
